
body{
    margin:0px;
    height:100vh;
}

/* header */


#logo{
   width: 30px;
   height: 30px;
   border-radius:100%;
}
.company{

    padding-left: 30px;
    font-family: 'Fredoka One', cursive;
}
.text-type{
    font-family: 'Cute Font', cursive;
    font-size:3rem;
}
.cont-nav{

    background-color:white;
    display:flex;
    flex: 1;
    justify-content:center;
    
    
    
}
.clickable{

    color: #343A40 !important;
    font-weight:bolder;
    font-size: medium;
    transition: color 1s;
}
.ytlink{
    color: #343A40 !important;
    font-weight:bolder;
    font-size: medium;
    transition: color 1s;
}
.clickable:hover{
 color: #1687A7 !important;
}
.ytlink:hover{
    color:white !important;
}
.ytbtn:hover{
    background-color:#343A40;
    
}
.ytbtn{
    margin-right: 10px;
    Width:130px;
    border: 2px solid black !important;
    background-color:white;
    border-radius:10px;
    transition: all 0.3s ease-out;
}
.litems{
    margin-left: 40px;
    margin-right:40px
}

#headbar{
    background-color:white;
}

.gradient-color{
    
    background:-webkit-linear-gradient(#8D93AB 0,#293B5F 100%);background:-moz-linear-gradient(#8D93AB,#293B5F 100%);background:-o-linear-gradient(#8D93AB 0,#293B5F 100%);background:linear-gradient(#8D93AB 0,#293B5F 100%);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;
    
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
}




/* section 1 */

.container-fluid{
    margin:50px;

}
#view_resume{
    color:#343A40;

}
#view_resume:hover{
    color:white;
}

.top1{
    padding-top: 3rem;
    margin-top:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.top2{
   
    padding:200px;
    width:80%;
    margin:auto;
}
#ipro{
    width:500px;
    height:500px;
}
#ipro1{
    width:400px;
    height:400px;
}
#intro1{
    width:30%;
}

.skills{
    margin: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #D6E4F0;
    border-radius: 5px;
    padding:20px;
    width:30% !important; 
    transition: all 0.3s ease-out;
    

}
.skills:hover{
    box-shadow: 0px -1px 10px 2px #393e46; 
}

.skill-row{
    /* margin-left:100px !important; */
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}



/* projects */

#myprojects{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    margin:20px;

}
.project{
    border:1px solid #D6E4F0;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    width:80%;
    margin: 20px;
}
.project:hover{
    box-shadow: 0px -1px 10px 2px #393e46; 
}






/* contact */
.bottom{
    display:flex;
    flex-direction: column;
    background-color:#D3E0EA;
    justify-content:center;
    align-items:center;
    padding:100px;


}
#img-bottom{
  
  margin:30px;
  border-radius: 100%;
  width:250px;
  height:250px;
}

#p-bottom{
    font: larger;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}
#social-media{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:space-between;
}




/* mobile version */
@media(min-width: 1000px) {
    header{
        width:100%;
        padding-left: 50px;
        top:0;
        position: fixed;
        left:0px;
        box-shadow: 0px -1px 10px 2px #F6F6F6; 
        z-index: 3;
    }
}
@media(min-width:300px) and (max-width:875px){
    #ipro{
        display:none;
    }
    .gradient-color{
        background:-webkit-linear-gradient(#8D93AB 0,#293B5F 100%);background:-moz-linear-gradient(#8D93AB,#293B5F 100%);background:-o-linear-gradient(#8D93AB 0,#293B5F 100%);background:linear-gradient(#8D93AB 0,#293B5F 100%);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;
    font-size: 25px;
    }
    #intro1{
        margin-left: 20px;
        width:80%;
        margin-right: 20px;
    }
    #ipro1{
        display: none;
    }
    #headbar{
        background-color: #D3E0EA;
    }
    .cont-nav{
        background-color: #D3E0EA;
    }
    .ytbtn{
        background-color: #D3E0EA;
    }
    .skill-row{
        margin-left:0px !important;
    }
    .top2{
        padding:100px;
        width:100%;
        margin:auto;
    }
    .skills{
        width:60% !important;
    }
    #p-bottom{
        margin:10px;
    }
    #img-bottom{
        width:150px;
        height:150px;
    }
}
